Koyou Ash/Koyou Ash.sln.DotSettings.user
Koyou Ash/Library/APIUpdater/ConfigurationCache/Unity.2D.Aseprite.Editor.ref.dll.3A29059C27D2EF30B263C84EE445E9F516F5BC8CB2834F3426714E008AAF95BB.apiupaterconfigs
